# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Kurtosis files
.kurtosis/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Build outputs
dist/
build/
out/

# Temporary files
*.log
*.tmp

_tests
artifacts/
cache/
deployment.json
bridge.json
kurtosis-test
funding.json
